@import "../../styles/_colors";
@import "../../styles/_fonts";

.home-page {
  width: 100%;
  height: 100vh;
  &.light {
    background-color: $app_background_light;
  }
  &.dark {
    background-color: $app_background_dark;
  }
  main {
    height: 100%;
    max-height: 1080px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .app-info {
    height: 60%;
    padding: 0 50px;
    position: relative;
    &.light {
      background-color: $app_info_background_light;
      .app-name {
        border-bottom: 2px solid $app_name_border_light;
      }
      .description {
        color: $black;
      }
    }
    &.dark {
      background-color: $app_info_background_dark;
      .app-name {
        border-bottom: 2px solid $app_name_border_dark;
      }
      .description {
        color: $light;
      }
    }
    .logo {
      padding-top: 96px;
    }
    .app-name {
      width: fit-content;
      margin-bottom: 25px;
    }
    .description {
      font-family: "Open Sans";
      font-weight: 400;
    }
  }
  .app-controls {
    height: calc(40% - 32px);
    padding: 0 50px;
  }
}
