@import "../../styles/_colors";

.home-page {
  width: 100%;
  height: 100vh;
  &.light {
    background-color: $app_background_light;
  }
  &.dark {
    background-color: $app_background_dark;
  }
  main {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .app-info {
    height: calc(60% - 200px);
    padding: 100px 50px;
    position: relative;
    &.light {
      background-color: $app_info_background_light;
      .app-name {
        border-bottom: 2px solid $app_name_border_light;
      }
    }
    &.dark {
      background-color: $app_info_background_dark;
      .app-name {
        border-bottom: 2px solid $app_name_border_dark;
      }
    }
    .app-name {
      width: fit-content;
      margin-bottom: 25px;
    }
    .start-button {
      position: absolute;
      bottom: -50px;
      left: calc(50% - 300px);
    }
  }
  .app-controls {
    height: 40%;
  }
}
