@import "../../styles/__colors";
@import "../../styles/__fonts";

.start-button {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 300px);
  button {
    font-family: "Open Sans";
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    width: 600px;
    height: 100px;
    border: none;
    background-color: $orange;
    outline: none;
    &:hover {
      cursor: pointer;
    }
    display: inline-flex;
    justify-content: center;
    svg,
    span {
      align-self: center;
    }
  }
}
