@import "../../styles/__colors";
@import "../../styles/__fonts";

.start-button {
  button {
    font-family: "Open Sans";
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 34px 0;
    width: 600px;
    border: none;
    background-color: $orange;
    outline: none;
    &:hover {
      cursor: pointer;
    }
    display: inline-flex;
    justify-content: center;
    svg,
    span {
      align-self: center;
    }
  }
}
