@mixin screen-460-767 {
  @media screen and (min-width: 460px) and (max-width: 767px) {
    @content;
  }
}

@mixin screen-600-767 {
  @media screen and (min-width: 600px) and (max-width: 767px) {
    @content;
  }
}

@mixin screen-768-999 {
  @media screen and (min-width: 768px) and (max-width: 999px) {
    @content;
  }
}

@mixin screen-1000-1919 {
  @media screen and (min-width: 1000px) and (max-width: 1919px) {
    @content;
  }
}

@mixin screen-768-1279 {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin screen-1000-1279 {
  @media screen and (min-width: 1000px) and (max-width: 1279px) {
    @content;
  }
}

@mixin screen-1280-1599 {
  @media screen and (min-width: 1280px) and (max-width: 1599px) {
    @content;
  }
}

@mixin screen-1280-1779 {
  @media screen and (min-width: 1280px) and (max-width: 1779px) {
    @content;
  }
}

@mixin screen-1280-1919 {
  @media screen and (min-width: 1280px) and (max-width: 1919px) {
    @content;
  }
}

@mixin screen-1440-1919 {
  @media screen and (min-width: 1440px) and (max-width: 1919px) {
    @content;
  }
}

@mixin screen-1600-1919 {
  @media screen and (min-width: 1600px) and (max-width: 1919px) {
    @content;
  }
}

// 3.2 Min width

@mixin screen-min-1280 {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin screen-min-1920 {
  @media screen and (min-width: 1920px) {
    @content;
  }
}

// 3.3 Max width

@mixin screen-459 {
  @media screen and (max-width: 459px) {
    @content;
  }
}

@mixin screen-599 {
  @media screen and (max-width: 599px) {
    @content;
  }
}

@mixin screen-767 {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin screen-899 {
  @media screen and (max-width: 899px) {
    @content;
  }
}

@mixin screen-999 {
  @media screen and (max-width: 999px) {
    @content;
  }
}

@mixin screen-1279 {
  @media screen and (max-width: 1279px) {
    @content;
  }
}

@mixin screen-1439 {
  @media screen and (max-width: 1439px) {
    @content;
  }
}

@mixin screen-1779 {
  @media screen and (max-width: 1779px) {
    @content;
  }
}

@mixin screen-1919 {
  @media screen and (max-width: 1919px) {
    @content;
  }
}

// 3.4 Max height

@mixin screen-h-720 {
  @media screen and (max-height: 720px) {
    @content;
  }
}

@mixin screen-h-799 {
  @media screen and (max-height: 799px) {
    @content;
  }
}

@mixin screen-h-1023 {
  @media screen and (max-height: 1023px) {
    @content;
  }
}

// 3.5 Min height

@mixin screen-min-h-1200 {
  @media screen and (min-height: 1200px) {
    @content;
  }
}
