$mainWhite: #ffffff;
$mainBlue: #b4d3d3;
$navLinkColor: #919196;
$textColor: #29292c;
$lightBlueColor: #98cccc;
$greyTextColor: #96969b;
$darkGreytextColor: #73737b;
$hoveredLink: #b4d3d3;
$mainButtonColor: #b4d3d3;
$actorBackgroundColor1: #e2e8e8;
$actorBackgroundColor2: #d3dcdc;
$catalogItemCover: #0d0d0ee6;
$menuBackground: #d3dcdc;
$menuTileBackground1: rgba(180, 211, 211, 0.86);
$menuTileBackground2: rgba(145, 145, 150, 0.49);
$menuHrColor: #88d0d0;
$menuLinkSMBackground: #b4d3d3;
$descriptionBackground: #eeeeee;
$storyBackground1: #e6ecec;
$storyBackground2: #e2e8e8;
$aboutAnnotationBackground: #ffffff;
$aboutDarkBackground: #0d0d0ee6;
