$orange: #f8d57e;
$black: #000000;
$light: #e6dce9;
$grey: #979797;
$app_background_light: rgba(232, 232, 232, 0.34);
$app_background_dark: rgba(30, 30, 30, 1);
$app_info_background_light: rgba(216, 216, 216, 0.5);
$app_info_background_dark: #333333;
$app_name_border_light: #797979;
$app_name_border_dark: #e6dce9;
$description_light: #797979;
$description_dark: #8f8f8f;
