// @font-face {
//   font-family: "NunitoRegular";
//   src: url("../assets/fonts/Nunito-Regular.ttf");
// }
// @font-face {
//   font-family: "NunitoBold";
//   src: url("../assets/fonts/Nunito-Bold.ttf");
// }
// @font-face {
//   font-family: "NunitoBlack";
//   src: url("../assets/fonts/Nunito-Black.ttf");
// }
// @font-face {
//   font-family: "NunitoExtraBold";
//   src: url("../assets/fonts/Nunito-ExtraBold.ttf");
// }
// @font-face {
//   font-family: "NunitoSemiBold";
//   src: url("../assets/fonts/Nunito-SemiBold.ttf");
// }
// @font-face {
//   font-family: "PoppinsMedium";
//   src: url("../assets/fonts/Poppins-Medium.ttf");
// }
// @font-face {
//   font-family: "PoppinsRegular";
//   src: url("../assets/fonts/Poppins-Regular.ttf");
// }
// @font-face {
//   font-family: "PlayfairDisplayRegular";
//   src: url("../assets/fonts/PlayfairDisplay-Regular.ttf");
// }
// @font-face {
//   font-family: "PlayfairDisplayItalicBold";
//   src: url("../assets/fonts/PlayfairDisplay-BoldItalic.ttf");
// }
