@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../../assets/fonts/opensanslight.woff2") format("woff2"),
    url("../../assets/fonts/opensanslight.woff") format("woff"),
    url("../../assets/fonts/opensanslight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("OpenSans"), url("../../assets/fonts/opensans.woff2") format("woff2"),
    url("../../assets/fonts/opensans.woff") format("woff"), url("../../assets/fonts/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"),
    url("../../assets/fonts/opensanssemibold.woff2") format("woff2"),
    url("../../assets/fonts/opensanssemibold.woff") format("woff"),
    url("../../assets/fonts/opensanssemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../../assets/fonts/opensansbold.woff2") format("woff2"),
    url("../../assets/fonts/opensansbold.woff") format("woff"),
    url("../../assets/fonts/opensansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
