@import "../../styles/_colors";
@import "../../styles/_fonts";

.add-question {
  align-self: center;
  width: 40%;
  .annotation {
    font-family: "Open Sans";
    font-weight: 300;
    margin-bottom: 25px;
    &.light {
      color: $black;
    }
    &.dark {
      color: $light;
    }
  }
}
