@import "../../styles/_fonts";

button {
  font-family: "Open Sans";
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  text-transform: var(--text-transform);
  color: var(--color);
  outline: none;
  background: none;
  border: 1px solid var(--border-color);
  padding: var(--padding);
  &:hover {
    cursor: pointer;
    background-color: var(--background-color-hovered);
    color: var(--color-hovered);
  }
}
